# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub/
.pub-cache/
build/

# Python
.venv/
__pycache__/
*.pyc

# VS Code / IDE
.idea/
.vscode/

# Android / Gradle
.gradle
/android/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java
.cxx/

# Keystore
key.properties
**/*.keystore
**/*.jks

# Mac / Windows
.DS_Store
Thumbs.db